[submodule "dhscanner.bitcode"]
	path = dhscanner.bitcode
	url = https://github.com/OrenGitHub/dhscanner.bitcode
[submodule "dhscanner.ast"]
	path = dhscanner.ast
	url = https://github.com/OrenGitHub/dhscanner.ast
